footer{
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  background-color: rgb(58, 58, 58);
  font-size: 0.5em;
  clear:both;
  height: 96px;
  position: relative;
  margin-top: -63px;
  .Friendly-link{
    background: #FFFFFF;
    text-align: center;
    height: 20px;
    min-width: 960px;
  }
  .navbar-footer{
    margin-left: 0px;
    width: 960px;
    margin: 0 auto;
    height: 50px;
    #footer-nav{
        padding-top: 30px;
        float: left;
        margin-left: 5%;
    }
    #footer-brand{
      padding-top: 30px;
      float: right;
      color: white;
      font-size: 12px;
      margin-right: 5%;
    }
  }
}