#main-container{
    font-family: Arial;
    .info{
        .molecular{
            height:400px;
            #appletplace{
                width:80%;
                height:80%;
                background-color:red
            }
            .previous{
                cursor: pointer;
                float: left;
                margin: 10px 0 0 0;
            }
            .next{
                cursor: pointer;
                float: right;
                margin: 10px 90px 0 0;
            }
            .page:hover{
                color:darkgray;
            }
        }
    }
}