<footer>
  <div class="Friendly-link">
    Friendly link:
    <a href="http://dbgconline.github.io/DBGC_distance-based_group_contribution/">Code download</a>,
    <a href="http://webbook.nist.gov/chemistry/grp-add/">NIST Structures and Properties</a>,
    <a href="http://rmg.mit.edu/">RMG</a>,
    <a href="http://webbook.nist.gov/chemistry/name-ser.html">NIST Chemistry WebBook</a>,
    <a href="http://garfield.chem.elte.hu/Burcat/burcat.html">Burcat's Thermodynamic Database</a>
  </div>
  <div class="navbar-footer">
    <div id="footer-nav">
      <font color="white">Contact us: dbgconline@gmail.com</font>
    </div>
    <div id="footer-brand" >
    Copyright &nbsp; &copy; &nbsp;Tsinghua University&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</footer>