<html>
    <head>
        <meta charset="utf-8">
        <title>DBGC</title>
        <link rel="stylesheet" href="/static/css/base.css" />
        <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css" />

        <script src="/static/lib/jquery-2.1.4.js"></script>
        <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/static/js/index.js"></script>
    </head>
    <body>
        {% include "header.html" %}
            <div id='wrap'>
              <div class="column clearfix" id="main-container">
                <a href="/help">help</a>
                <a href="/aboutus">aboutus</a>
                  <div class="home-page">
                      <h2>DBGC</h2>
                      <form name="UploadFileForm">
                          <input type="text" class="uploadFileText" placeholder="Choose File" disabled="disabled">
                          <div class="fileUpload btn btn-default">
                               <span>Chooses</span>
                              <!--<label class="upload-label">upload files(multi-choice):</label>-->
                              <input type="file" name="file" multiple="multiple" class="upload">
                          </div>
                            <div class="loader loader--style6" title="loading">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <rect x="0" y="13" width="4" height="5" fill="#333">
                                  <animate attributeName="height" attributeType="XML"
                                    values="5;21;5"
                                    begin="0s" dur="0.6s" repeatCount="indefinite" />
                                  <animate attributeName="y" attributeType="XML"
                                    values="13; 5; 13"
                                    begin="0s" dur="0.6s" repeatCount="indefinite" />
                                </rect>
                                <rect x="10" y="13" width="4" height="5" fill="#333">
                                  <animate attributeName="height" attributeType="XML"
                                    values="5;21;5"
                                    begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                  <animate attributeName="y" attributeType="XML"
                                    values="13; 5; 13"
                                    begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                </rect>
                                <rect x="20" y="13" width="4" height="5" fill="#333">
                                  <animate attributeName="height" attributeType="XML"
                                    values="5;21;5"
                                    begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                  <animate attributeName="y" attributeType="XML"
                                    values="13; 5; 13"
                                    begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                </rect>
                              </svg>
                            </div>
                      </form>
                      <p>The word "choose" should be taken place of with a button such like a directory.</p>
                      <p>add a link: How do we get the connectivity from gwometry?</p>
                      <p>I am an input box for entering the geometry of species! can we draw a box like this? http://ww7.colorgrade.it/. I mean, to draw a box with visible linewidth</p>
                      <p>Soon I will provide the function to parse connectivity directly.</p>
                      <p>Why do we need the connectivity?</p>
                      <p>Some simple introduction is needed to aim the user.</p>
                      <p>An example file should be given.</p>
                      <p>The out put value should hava a dimension.</p>
                  </div>
                  <p>This page is a simple illustration for distance-based group contribution method, which is used for theomodynamic prediction.</p>
                  <p>The domain should be showed instead of the ip address.</p>
                  <p>The layout of this page need to be decorated. can we make a site like http://friendsoftheweb.com/. To use the button for sliding to help and aboutus page. Or we can make a site like this, http://simonfosterdesign.com/home/homepage/a-moving-target/. We need a light bottom color. Or this, http://johannlucchini.com/, to draw a line. Or this one, http://paravelinc.com/work/.</p>
                  <p>Some friendly link is needed. NIST, RMG, THERM.</p>
                  <p>I will find a logo with better color.</p>
                  <p>we need add a button for sharing to fb, twitter and other sites.</p>
                  <p>time of latest update</p>
                  <p>we shoudl add a google analytic code for tracking. </p>
              </div>
            </div>
        {% include "footer.html" %}
    </body>
</html>
