<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBGC</title>
    <link rel="icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css" />

    <script src="/static/lib/jquery-2.1.4.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/JmolFolder/JSmol.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76675313-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>



<script type="text/javascript">
var molecularInfo = new Array();
;(function() {

// ?_USE=JAVA   ?_USE=SIGNED   ?_USE=HTML5

// Developers: The _debugCode flag is checked in j2s/java/core.z.js,
// and, if TRUE, skips loading the core methods, forcing those
// to be read from their individual directories. Set this
// true if you want to do some code debugging by inserting
// System.out.println(x), document.title=x, or alert(x)
// anywhere in the Java or Jmol code.

var s = document.location.search;
Jmol._debugCode = (s.indexOf("debugcode") >= 0);

jmol_isReady = function(applet) {
	document.title = (applet._id + " is ready")
	Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"

}

moleculars = '{{mol}}';
moleculars = moleculars.split('|');

formulalist = '{{formulalist}}';
formulalist = formulalist.split('|');
filenamelist = new Array;
for(var i = 0;i < moleculars.length; i++){
    moleculars[i] = moleculars[i].replace(/ /g,"");
    var temp = moleculars[i].split('.');
    filenamelist.push(temp[1]);
}

data = {{data}};
for(f in moleculars){
    molecularInfo[f] = {
        width: "100%",
        height: "100%",
        debug: false,
        color: "white",
        addSelectionOptions: false,
        serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
        use: "HTML5",
        coverImage: "",//"data/1hxw.png",        // initial image instead of applet
        coverScript: "",	// special script for click of cover image (otherwise equal to script)
        deferApplet: false,                  // wait to load applet until click
        deferUncover: false,                 // wait to uncover applet until script completed
        //jarPath: "java",
        j2sPath: "/static/lib/JmolFolder/j2s",
        //jarFile: "JmolApplet.jar",
        isSigned: false,
        //disableJ2SLoadMonitor: true,
        //disableInitialConsole: true,
        //readyFunction: jmol_isReady,
        //defaultModel: "$dopamine",
        script: ""
    };
    molecularInfo[f].script = "load /static/mol/" + moleculars[f] + ".mol";
}
})();

$(document).ready(function(){
groupvector = {{groupvector |safe}};
function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ')
            c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0)
            return c.substring(nameEQ.length,c.length);
    }
    return null;
};
var type = readCookie("radio");
if(type == "string"){
    $(".input-filename").hide();
}
function render(){
    $("#appletplace").html(Jmol.getAppletHtml("jmol1", molecularInfo[index]));
    $(".input-file-name").html(filenamelist[index]);
    $(".formula").html(formulalist[index]);
    $(".Predicted-standard-enthalpy").html(data[index].toFixed(2));
       tmpstr = "<table class='table table-hover table-condensed'>";
       for(key in groupvector[index]){
           if(groupvector[index][key][0] != undefined){
               tmpstr = tmpstr + "<tr>";
               tmpstr = tmpstr + "<td>"+ groupvector[index][key][0] + "</td>";
               tmpstr = tmpstr + "<td>"+ groupvector[index][key][1] + "</td>";
               tmpstr = tmpstr + "</tr>";
           }
       }
       tmpstr = tmpstr + "</table>";
       $("#no-zero-info").html(tmpstr);
};
  var index = 0;
  render();
  if(molecularInfo.length==1){
    $(".page").hide();
  }
  $(".previous").click(function(){
    if(index == 0){
        return;
    }
    else{
        index = index-1;
        render();
    }
  });
  $(".next").click(function(){
    if(index == molecularInfo.length-1){
        return;
    }
    else{
        index = index+1;
        render();
    }
  });
});

</script>

<body>
    {% include "header.html" %}
    <div id='wrap'>
          <div class="column clearfix" id="main-container">
              <div class="info">
                  <div class="col-md-6 molecular">
                    <div id="appletplace"></div>
                    <span class="page previous glyphicon glyphicon-chevron-left">previous</span>
                    <span class="page next glyphicon glyphicon-chevron-right">next</span>
                  </div>

                  <div class="col-md-6 " style="margin-top: 120px">
                      <div class="input-filename"><label>Input File Name:</label>&nbsp;<span class="input-file-name"></span></div>
                      <label>Formula:</label>&nbsp;<span class="formula"></span><br>
                      <label>Predicted standard enthalpy of formation:&nbsp;</label><span class="Predicted-standard-enthalpy"></span> kcal/mol<br>
<!--                       <label>Individual groups and group-group interaction:</label><br>
                      a table here<br> -->
                  </div>
              </div>
                <div style="clear:both;"></div>
              <div class="outDBGCVectorDownload">
                  <label>DBGC vectors for all input species download:&nbsp;</label><a href="/static/DBGCVectors/{{vectorFileName}}" download="DBGCVectors">{{vectorFileName}}</a>
              </div>
              <div class="nonZeroElementDisplay">
                  <p>Non-zero elements in DBGC Vector for this species: </p>
                  <pre><div id="no-zero-info"></div></pre>
              </div>
          </div>
    </div>

    {% include "footer.html" %}
</body>
</html>