<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css" />

    <script src="/static/lib/jquery-2.1.4.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div id='wrap'>
          <div class="column clearfix" id="main-container">
              <div class="col-md-4">
                <img src="" >
              </div>
              <div class="col-md-8">
                  <label>vector:</label><br>
                  <span>{{ data }}</span><br>
                  <label>enthe</label><br>
                  <a href="/static/DBGCVectors/{{vectorFileName}}" download="DBGCVectors">{{vectorFileName}}</a>
              </div>
          </div>
    </div>
    {% include "footer.html" %}
</body>
</html>